body {
    margin: 0;
    font-family: 'Segoe UI', Arial, sans-serif;
    background: #f4f6f8;
}

.container {
    display: flex;
    min-height: 100vh;
}

.sidebar {
    width: 220px;
    background: #ffffff;
    color: #828FA3;
    padding: 2em 1em;
    box-shadow: 2px 0 8px rgba(0,0,0,0.05);
}

button {
    background: #635FC7;
    color: white;
    border: none;
    padding: 0.5em 1em;
    border-radius: 4px;
    cursor: pointer;
}

.content-container {
    flex: 1;
    padding: 2em;
    background: #E4EBFA;
}

.main-content {
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    gap: 4em;
}

.todo-buttons div{
    background: #F4F7FD;
    padding: 0.5em;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    gap:2em;
}
.doing-buttons div {
    background: #F4F7FD;
    padding: 0.5em;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
.done-buttons div {
    background: #F4F7FD;
    padding: 0.5em;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.todo-buttons,
.doing-buttons,
.done-buttons {
    display:flex;
    flex-direction: column;
    gap: 1em;
}



.header {
    background-color: white;
}

.logo {
    width: 80%;
}